In [ ]:
#predict nba game score for a single nba game

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [3]:
df = pd.read_csv('path')
df.head()

    game_id        book_name  book_id     team_id   a_team_id  price1  price2
0  41100314  Pinnacle Sports      238  1610612759  1610612760   165.0  -183.0
1  41100314           5Dimes       19  1610612759  1610612760   165.0  -175.0
2  41100314        Bookmaker       93  1610612759  1610612760   160.0  -190.0
3  41100314        BetOnline     1096  1610612759  1610612760   165.0  -190.0
4  41100314           Bovada   999996  1610612759  1610612760   155.0  -175.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125286 entries, 0 to 125285
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   game_id    125286 non-null  int64
 1   book_name  125286 non-null  object
 2   book_id    125286 non-null  int64
 3   team_id    125286 non-null  int64
 4   a_team_id  125286 non-null  int64
 5   price1     125286 non-null  float64
 6   price2     125286 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 6.7+ MB

        price1
0         1.65
1         1.65
2         1.60
3         1.65
4         1.55
...        ...
125281    1.05
125282    1.00
125283    1.05
125284    1.00
125285    1.05

[125286 rows x 1 columns]